{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="splash">
        <div class="pure-g-r">
            <div class="pure-u-1">
                <div class="l-box splash-text">
                    <h1 class="splash-head">{{ course.name }}</h1>
                    <h2 class="splash-subhead">{{ course.description }}</h2>
                    <p>
                        <a href="" class="pure-button primary-button">Inscreva-se</a>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="pure-g-r content-ribbon">
        <div class="pure-u-2-3">
            <div class="l-box">
                <h4 class="content-subhead">Sobre o curso</h4>
                <p>{{ course.about|linebreaks }}</p>
            </div>
        </div>

        <div class="pure-u-1-3">
            <div class="l-box">
                {% if course.image %}
                    <img src="{{ course.image.url }}">
                {% else %}
                    <img src="{% static 'img/course-image.png' %}">
                {% endif %}
            </div>
        </div>
    </div>        
{% endblock %}